{% extends "template.html" %}
{% block title %}
Department master page
{% endblock %}
{% block description %}
{% endblock %}
{% block content %}

{% if stat == 1 %}
    <div class="alert alert-success">
        Data was saved successfully
    </div>
{% else %}
    <div class="alert alert-danger">
        Data was not saved
    </div>
{% endif %}

<form role="form" method="get" action="departmentMaster.php">
    <div class="form-group">
        <label for="departmentName">Department Name</label>
        <input type="text" class="form-control" name="departmentName" id="departmentName" placeholder="Enter Department Name" required>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}